<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>
  <style>
    table,
    th,
    tr,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <h1>Information of all user</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Username</th>
      </tr>

      <%for(user of data){%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.email%></td>
        <td><%=user.username%></td>
        <td>
          <form method="get" action="/user/<%=user.id%>/edit">
            <button>Edit</button>
          </form>
        </td>
        <td>
          <form method="get" action="/user/<%=user.id%>/delete">
            <button>Delete</button>
          </form>
        </td>
      </tr>
      <%}%>
    </table>
    <a href="http://localhost:8080/user/new">Create new user</a>
  </body>
</html>
